.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  mat-spinner{
    height:40px !important;
    width: 40px !important;
  }

  .my-drop-zone { border: dotted 3px lightgray; padding: 20px 0; 
    display: flex; justify-content: center; justify-content: space-around; justify-items: center; justify-self: center; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }