<!-- Default Categories Section -->
<div
    class="categories-area extra-top position-relative z-1 pb-75">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="mb-0">{{'HOMEPAGE.Our_Top_Categories' | translate}}</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-web-programming"></i>
                    </div>
                    <h3>{{'HOMEPAGE.INFORMATICS' | translate}}</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses/bilisim" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-knowledge-1"></i>
                    </div>
                    <h3>{{'HOMEPAGE.MARKETING' | translate}}</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses/marketing" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-arts"></i>
                    </div>
                    <h3>{{'HOMEPAGE.ART_CRAFTS' | translate}}</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses/el-sanatlari" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-management"></i>
                    </div>
                    <h3>{{'HOMEPAGE.MANAGEMENT' | translate}}</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses/yonetim" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-networking"></i>
                    </div>
                    <h3>{{'HOMEPAGE.YKS' | translate}}</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses/yks" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-data-science"></i>
                    </div>
                    <h3>{{'HOMEPAGE.LGS' | translate}}</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses/lgs" class="link-btn"></a>
                </div>
            </div>
        </div>
    </div>
</div>