<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>{{'HOMEPAGE.FORGOT_PASSWORD' | translate}}</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">{{'HOMEPAGE.HOME' | translate}}</a></li>
                <li class="d-inline-block position-relative">{{'HOMEPAGE.FORGOT_PASSWORD' | translate}}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Forgot Password -->
<div class="profile-authentication-area ptb-100">
    <div class="container">
        <div class="forgot-password-box">
            <p>{{'HOMEPAGE.FORGOT_PASSWORD_MESSAGE' | translate}}</p>
            <form [formGroup]="checkUserForm"
            (submit)="checkUser()">
                <label>{{'EMAIL' | translate}}</label>
                <input type="text" class="form-control" formControlName="email">
                <div *ngIf="checkUserForm.get('email').touched && checkUserForm.get('email').errors">
                    <div class="text-danger" *ngIf="checkUserForm.get('email').errors?.required">
                      {{'IS_REQUIRED' | translate }}
                    </div>
                    <div class="text-danger" *ngIf="checkUserForm.get('email').errors?.email">
                        {{'IS_REQUIRED' | translate }} Geçerli eposta
                      </div>
                  </div>
                
                

                  <div class="text-danger" *ngIf="message">
                    {{message}}
                  </div>
                <button type="submit" [disabled]="!checkUserForm.valid" class="default-btn">{{'HOMEPAGE.RESET_PASSWORD' | translate}}</button>
            </form>
        </div>
    </div>
</div>