<!-- Footer -->
<div class="footer-area position-relative pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-4 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <a routerLink="/" class="logo d-inline-block">
                        <img src="assets/logo_horizontal.png" alt="logo" width="80%">
                    </a>
                    <p>{{'HOMEPAGE.ABOUT_DESCRIPTION' | translate}}</p>
                    <ul class="social-links ps-0 mb-0 list-unstyled">
                        <li class="d-inline-block">
                            <a href="https://www.facebook.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://linkedin.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://twitter.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://www.instagram.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xl-2 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3>{{'HOMEPAGE.IMPORTANT_PAGES' | translate}}</h3>
                    <ul class="footer-links ps-0 mb-0 list-unstyled">
                        <li>
                            <a routerLink="/about" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                {{'HOMEPAGE.WHAT_DERS' | translate}}
                            </a>
                        </li>
                        <li>
                            <a routerLink="/contact" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                {{'HOMEPAGE.CONTACT_US' | translate}}
                            </a>
                        </li>
                        <li>
                            <a routerLink="/" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                {{'HOMEPAGE.BECOME_A_INSTRUCTOR' | translate}}
                            </a>
                        </li>
                        <li>
                            <a routerLink="/" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                {{'HOMEPAGE.FIND_COURSE' | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3>{{'HOMEPAGE.OTHER_PAGES' | translate}}</h3>
                    <ul class="footer-links ps-0 mb-0 list-unstyled">
                        <li>
                            <a routerLink="/terms-conditions" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                {{'HOMEPAGE.TERMS_CONDITIONS' | translate}}
                            </a>
                        </li>
                        <li>
                            <a routerLink="/privacy-policy" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                {{'HOMEPAGE.PRIVACY_POLICY' | translate}}
                            </a>
                        </li>
                        <li>
                            <a routerLink="/privacy-policy" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                 {{'HOMEPAGE.FAQ' | translate}}
                            </a>
                        </li>
                        <li>
                            <a routerLink="/" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                {{'HOMEPAGE.MOBILE_APPS' | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3>{{'HOMEPAGE.CONTACT' | translate}}</h3>
                    <ul class="footer-contact-info ps-0 mb-0 list-unstyled">
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-phone-call'></i>
                            </div>
                            <a href="tel:903129113311">
                                + (90) 312 911 3311
                            </a>
                        </li>
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-envelope'></i>
                            </div>
                            <a href="mailto:info@uzaktanegitimakademisi.com">info@uzaktanegitimakademisi.com</a>
                        </li>
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-map'></i>
                            </div>
                            Mustafa Kemal Paşa Mah. Maidan İş Merkezi Çankaya/ANKARA
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/shapes/footer.gif" class="footer-shape1" alt="footer-shape1">
    <img src="assets/images/shapes/footer-shape.png" class="footer-shape2" alt="footer-shape2">
</div>

<!-- Copyright -->
<div class="copyright-area text-center">
    <div class="container">
        <p>© Powered by <a href="https://parantezteknoloji.com.tr" target="_blank">Parantez Teknoloji</a></p>
    </div>
</div>