<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>{{'HOMEPAGE.COURSES' | translate}}</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">{{'HOMEPAGE.HOME' | translate}}</a></li>
                <li class="d-inline-block position-relative">{{'HOMEPAGE.COURSES' | translate}}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Courses -->
<div class="courses-area position-relative z-2 ptb-100">
    <div class="container">
        <div class="row">

            <div class="col-xl-12 col-lg-12 col-md-12 order-1 order-lg-2">
                <div class="ps-lg-2">
                    <div class="toledo-grid-sorting row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 result-count">
                            <p><span class="count">{{dataSource.count}} kurs bulundu</span> </p>
                        </div>
                        <!-- <div class="col-lg-6 col-md-6 col-sm-6 ordering text-md-end">
                            <div class="select-box">
                                <label class="d-inline-block mb-0">Sort By:</label>
                                <select>
                                    <option>Default</option>
                                    <option>Popularity</option>
                                    <option>Latest</option>
                                    <option>Price: low to high</option>
                                    <option>Price: high to low</option>
                                </select>
                            </div>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-xl-3 col-sm-6 col-md-6" *ngFor="let course of courses  | angularPaginator : { itemsPerPage: this.itemsPerPage, currentPage: currentPage };
                        let i = index">
                            <div class="single-course-item position-relative" >
                                <div class="image position-relative">
                                    <a routerLink="/course/{{course['code']}}/{{course['title'] | seoslugify}}" class="d-block">
                                        <img [src]="course['coursePicture']" [alt]="course['title']">
                                    </a>
                                    <span class="price">{{course['openedCourseTypeName']}}</span>
                                </div>
                                <div class="content">
                                    <div class="meta justify-content-between align-items-center d-flex">
                                        <a  class="user d-flex align-items-center">
                                            <img [src]="course['teacherPicture']" width="30" height="30" class="rounded-circle" [alt]="course['teacherFullName']">
                                            {{course['teacherFullName']}}
                                        </a>
                                        <div class="rating">
                                            <i class='bx bxs-star'></i>
                                            (5.0)
                                        </div>
                                    </div>
                                    <h3>
                                        <a routerLink="/course/{{course['code']}}/{{course['title'] | seoslugify}}">
                                            {{course['title']}}
                                        </a>
                                    </h3>
                                    <ul class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                                        <li>
                                            <i class="flaticon-open-book"></i>
                                            {{course['lessonCount']}} {{'HOMEPAGE.LESSON' | translate}}
                                        </li>
                                        <li>
                                            <i class="flaticon-young-man"></i>
                                            {{'HOMEPAGE.QUOTA' | translate}} {{course['courseQuota']}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="hover-box">
                                    <h3>
                                        <a routerLink="/course/{{course['code']}}/{{course['title'] | seoslugify}}">
                                            {{course['title']}}
                                        </a>
                                    </h3>
                                    <span class="sub-title d-block" [innerHTML]="course['shortDescription']">
                                        
                                    </span>
                                    
                                    <div class="btn-box d-flex align-items-center">
                                        <button routerLink="/register-course/{{course['code']}}/{{course['title'] | seoslugify}}" type="button" class="default-btn">
                                            {{'HOMEPAGE.REGISTER' | translate}}
                                        </button>
                                        <!-- <button type="button" class="fav-btn"><i class="flaticon-heart"></i></button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <nav class="pagination-area text-center"
                    angularPaginator
                    [forceEllipses]="true"
                    [rotate]="true"
                    [maxSize]="courseResource.pageSize"
                    #paginator="angularPaginator"
                    (pageChange)="currentPage = $event">

                    <ng-container *ngIf="paginator.pages['length'] !== 0">
                        <ul class="pagination mb-0 list-unstyled ps-0 d-block border-0 rounded-0">
                          <!-- direction link -->
                          <li
                            class="page-item"
                            [ngClass]="{
                              disabled: paginator.currentPage === paginator.firstPage
                            }"
                          >
                            <a class="page-link" (click)="paginator.toPreviousPage()">
                              <span aria-hidden="true"><i class="flaticon-left-arrow"></i></span>
                              <span class="visually-hidden"><i class="flaticon-left-arrow"></i></span>
                            </a>
                          </li>
            
                          <!-- pagination array -->
                          <li
                            class="page-item"
                            *ngFor="let page of paginator.pages"
                            [ngClass]="{ active: page['active'] }"
                          >
                            <a
                              class="page-link" [ngClass]="{ active: page['active'] }"
                              (click)="
                                !page['active'] && paginator.setCurrentPage(page['number'])
                              "
                            >
                              {{ page['text'] }}
                              <span class="visually-hidden" *ngIf="!page['active']"
                                >Page{{ page['text'] }}</span
                              >
                              <span class="visually-hidden" *ngIf="page['active']"
                                >You are on page {{ page['text'] }}</span
                              >
                            </a>
                          </li>
            
                          <!-- direction link -->
                          <li
                            class="page-item"
                            [ngClass]="{
                              disabled: paginator.currentPage === paginator.lastPage
                            }"
                          >
                            <a class="page-link" (click)="paginator.toNextPage()">
                              <span aria-hidden="true"><i class="flaticon-next"></i></span>
                              <span class="visually-hidden"><i class="flaticon-next"></i></span>
                            </a>
                          </li>
                        </ul>
                      </ng-container>


                       <!-- <ul class="pagination mb-0 list-unstyled ps-0 d-block border-0 rounded-0">
                            <li class="page-item disabled"><a class="page-link" routerLink="/courses-grid">
                                <i class="flaticon-left-arrow"></i>
                            </a></li>
                            <li class="page-item"><a class="page-link active" routerLink="/courses-grid">1</a></li>
                            <li class="page-item"><a class="page-link" routerLink="/courses-grid">2</a></li>
                            <li class="page-item"><a class="page-link" routerLink="/courses-grid">3</a></li>
                            <li class="page-item"><a class="page-link" routerLink="/courses-grid">4</a></li>
                            <li class="page-item"><a class="page-link" routerLink="/courses-grid">
                                <i class="flaticon-next"></i>
                            </a></li>
                        </ul>  -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>