<div class="row align-items-center justify-content-between">
  <div class="col-md-auto col-sm-auto">
    <div class="content-header">
      <h1>{{'ROLE_USER' | translate}}</h1>
    </div>
  </div>
</div>
<div class="box box-primary">
  <div class="box-body">
    <div class="form-group col-md-6 row">
      <form class="full-width">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{'SELECT_ROLE' | translate}}</mat-label>
          <mat-select name="selectedRole" [(ngModel)]="selectedRoleId" (selectionChange)="onRoleChange()">
            <mat-option *ngFor="let role of roles" [value]="role.id">
              {{role.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <span class="font-weight-bold text-danger">
          {{'NOTE_IN_ORDER_TO_ADD_USER_TO_ROLE_PLEASE_DRAG_IT_FROM_ALL_USERS_TO_ROLE_USERS' | translate}}
        </span>
      </div>
    </div>
    <div *ngIf="selectedRole">
      <div class="row">
        <div class="col-sm-5">
          <h2 class="text-primary">{{'ALL_USERS' | translate}}</h2>
          <div cdkDropList #doneList="cdkDropList"  [cdkDropListData]="otherUsers"
            [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="removeUser($event)">
            <div class="example-box" *ngFor="let item of otherUsers" cdkDrag>
              <span>{{item.firstName}} {{item.lastName}} ({{item.userName}}) </span>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <h2 class="text-primary">{{'ROLE_USERS' | translate}}</h2>
          <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="roleUsers" [cdkDropListConnectedTo]="[doneList]"
            class="example-list" (cdkDropListDropped)="addUser($event)">
            <div class="example-box" *ngFor="let item of roleUsers" cdkDrag>
              <span>{{item.firstName}} {{item.lastName}} ({{item.userName}})</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>