
<app-homethree-banner></app-homethree-banner>

<app-categories></app-categories>

<app-featured-courses [courses]="popularCourses" [courseType]="'HOMEPAGE.POPULAR'"></app-featured-courses>


<app-featured></app-featured>


<app-homepage-offers></app-homepage-offers>

<app-featured-courses [courses]="recommendedCourses" [courseType]="'HOMEPAGE.RECOMMEND'"></app-featured-courses>

<!-- <app-featured-boxes></app-featured-boxes> -->



<!-- <app-about></app-about> -->



<!-- <app-video></app-video> -->

<app-funfacts></app-funfacts>

<!-- <app-courses></app-courses> -->

<app-features></app-features>

<!-- <app-blog></app-blog> -->

<!-- <app-overview></app-overview> -->

<!-- <app-partner></app-partner> -->